<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <title>
        {% block titulo %}
        FakePinterst
        {% endblock %}
    </title>
</head>

{% block body %}
<body >
      <h1>FakePinterest - Meu primeiro site no ar!</h1>

      <p>Esta é a homepage do site</p>
      <!--Post = enviar, fazer mesma coisa routes-->
      {% block formulario %}
      <form method="POST">
          {{ form.csrf_token }}   <!--form-> esta no routes-->

          {{ form.email.label() }}
          {{ form.email() }}

          {{ form.senha.label() }}
          {{ form.senha() }}

          {{ form.botao_confirmacao() }}


      </form>

    {% endblock %}
</body>
{% endblock %}

</html>
